*, *::before, *::after {
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
}

body {
    padding: 0;
    margin: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

body.correct {
    --hue: var(--hue-correct);
}

body.wrong  {
    --hue: var(--hue-wrong);
}

.container {
    width: 800px;
    max-width: 80%;
    background-color: white;
    border-radius: 5px;
    padding: 15px;
    box-shadow: 0 0 10px 2px;
}

.btn-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin: 20px 0;
}

.btn {
    --hue: var(--hue-neutral);
    border: 2px solid;
    border-radius: 1rem;
    padding: 5px 10px;
}

.btn:hover {
    border-color: chartreuse;
    box-shadow: 0 0 10px 2px;
}

.btn-correct {
    --hue: var(--hue-correct);
    color: black;
}

.btn-wrong {
    --hue: var(--hue-wrong);
    color: red;
}

.start-btn, .next-btn {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
}



